
.iconButton {
  border: none !important;
  background: transparent !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  & svg {
    width: 17px;
    height: 17px;
  }
}

[ant-click-animating-without-extra-node]:after {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

.pinIcon {
  & svg {
    width: 18px;
    height: 18px;
  }
}

.pinnedRecipesContainer {
  padding-bottom: 20px;
  width: 50%;
  outline: 0.5px solid rgba(128, 128, 128, 0.2);
  outline-offset: -8px;
}

@media screen and (min-width:320px) and (max-width:830px) {
  .pinnedRecipesContainer {
    width: 100%;
  }
}