
.addSelection {
  background-color: transparent;
  border: none;
  flex: none;
  padding: 8px;
  display: block;
  cursor: pointer; 
  &:hover {
    color: #00a8ff
  }
  &:focus {
    border: none;
  }
}

.readonlyInput {
  background-color: none;
  border: none;
  color: rgb(0,0,0.85);
  flex: auto;
}

.fauxFormItem {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  margin-bottom: 24px;
  vertical-align: top;
  display: flex;
}

.fauxLabel {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  position: relative;
  flex-grow: 0;
  color: rgba(0, 0, 0, 0.85);
  padding-right: 7px;
}

.switch {
  display: flex;
}

@media screen and (min-width:320px) and (max-width:640px) {
  & .ant-input-number {
    width: 100% !important;
  }
  .list-input {
    & .ant-space-item {
      margin-right: 1px !important;
      flex: 1 1 100px;
      min-width: 100px;
    }

    & .ant-space-item:first-child {
      margin-right: 1px !important;
      flex: 0 0 50px;
      min-width: 50px;
    }

    & .ant-space-item:last-child {
      flex: 0 0 14px;
      min-width: 14px;
    }
  }
}

@media screen and (min-width:641px) {
  .measure-selector {
    width: 200px
  }
  
  .ingredient-selector {
    width: 200px
  }

  .list-input {
    & .ant-col-16 {
      max-width: 100% !important;
    }

    & .ant-space-item {
      flex: 1 1 100px;
      min-width: 100px;
    }
 
    & .ant-space-item:first-child {
      flex: 1 0 50px;
      min-width: 50px;
      max-width: 90px;
    }
 
    & .ant-space-item:last-child {
      flex: 0 0 14px;
    }
  }
}
