@import "../../variables.scss";
.addSelection {
  background-color: transparent;
  border: none;
  flex: none;
  padding: 8px;
  display: block;
  cursor: pointer; 
  &:hover {
    color: #00a8ff
  }
  &:focus {
    border: none;
  }
}

.readonlyInput {
  background-color: none;
  border: none;
  color: rgb(0,0,0.85);
  flex: auto;
}

.fauxFormItem {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  margin-bottom: 24px;
  vertical-align: top;
  display: flex;
}

.fauxLabel {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  max-width: 33.33333333%;
  position: relative;
  flex-grow: 0;
  color: rgba(0, 0, 0, 0.85);
  padding-right: 7px;
}

.ingredient-container {
  display: flex;
  margin-bottom: 3;
}

.dynamic-delete-button {
  color: #e41818 !important;
  margin: 0 8px 20px 0 !important; 
}
.main-ingredients-line {
  display: flex;
}
.upper-ingredients-line {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

@media screen and (min-width:320px) and (max-width:830px) {
  .method-step-container {
    & .ant-form-item-control-input-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    & .dynamic-delete-button {
      order: -1;
      margin-bottom: 10px !important;
    }
  }
  & .ant-input-number {
    width: 100% !important;
    border-radius: 0px !important;
  }
  .ant-input {
    border-radius: 0px !important;
  }
  .fauxFormItem {
    margin-bottom: 6px !important;
  }
  .ant-form-item {
    margin-bottom: 6px !important;
  }
  .ant-select-single .ant-select-selector {
    border-radius: 0px !important;
  }
  .list-input {
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    // border-bottom: 1px solid $link-underline-color;
    margin-bottom: 2px;
    & .ant-form-item {
      margin-bottom: 3px !important;
    }
    .small-ingredient-item {
      flex: 0 0 20%;
    }
    .large-ingredient-item {
      flex: 1 1 0
    }
    .main-ingredients-line {
      flex-wrap: wrap;
    }

    & .ant-space-item:nth-child(4) {
      min-width: 24px;
      flex: 0 0 94%;
      text-align: right;
      order: -2;
    }

    & .ant-space-item:last-child {
      order: -1;
      width: 100%;
    }
  }
}

@media screen and (min-width:830px) {
  .method-step-container {
    & .ant-form-item-control-input-content {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
  .measure-selector {
    width: 200px
  }
  
  .ingredient-selector {
    width: 200px
  }

  .list-input {
    & .ant-col-16 {
      max-width: 100% !important;
    }
  }
}
